@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #f58224;
  --color-primary-hover: #e0721d;
  --color-bg-light: #f8f7f5;
  --color-bg-dark: #221810;
}

@layer base {
  body {
    @apply font-sans bg-bg-light text-slate-900 antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
